body {
    /*padding-top: 50px;*/
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-login{
	color:#FFFFFF;
	background-color:#4E91C5;
	border-color:#4E91C5;
	float: right;
}

.btn-login:hover{
	background-color: #1E90FF;
	border-color: #87CEEB;
	color: #FFFFFF;
}

.loginDown{
	color: #4E91C5;
}

.loginDown:hover{
	color: #4682B4;
}

#logoazulLogin{
	text-align: center;
}

.blocoLogin{
	margin-top: 20px;
}