@{
    ViewBag.Title = "Doctor9";
}

<div class="col-md-12 col-lg-12" style="margin-top:2%;" id="divCalendario">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div id="calendario"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-consulta" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dados da Consulta</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="data-consulta">Data da consulta</label>
                                <input type="text" class="form-control text" id="data-consulta" readonly />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="data-marcacao">Data de marcação</label>
                                <input type="text" class="form-control text" id="data-marcacao" readonly />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="paciente">Paciente</label>
                                <input type="text" class="form-control text" id="paciente" readonly />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="observacoes">Observações</label>
                                <textarea class="form-control text" id="observacoes" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <link rel="stylesheet" type="text/css" href="~/Content/3.3.4/calendario.css" />

    <style>
        #calendario, .modal {
            color: #09406F;
        }
    </style>

    <script src="~/Content/3.3.4/js/calendario-plugins.js"></script>
    <script src="~/Content/3.3.4/js/calendario-pt-br.js"></script>

    <script>
        $('.saudacao').parent().remove();
        $('.navbar').addClass('top-nav-collapse');
        $('#logobranco').show();
        $('#logoazul').hide();

        $(window).on('scroll', function () {
            window.setTimeout(function () {
                $('.navbar').addClass('top-nav-collapse');
                $('#logobranco').show();
                $('#logoazul').hide();
            }, 0);
        });

        $('#calendario').fullCalendar({
            header: {
                left: 'title',
                right: 'today month,agendaWeek,agendaDay prev,next'
            },
            firstDay: 0,
            timezone: 'America/Sao_Paulo',
            lang: 'pt-br',
            eventLimit: true,
            selectable: true,
            allDaySlot: false,
            weekends: true,
            timeFormat: 'HH:mm',
            slotLabelInterval: '00:30:00',
            slotLabelFormat: 'HH:mm',
            minTime: "08:00:00",
            maxTime: "20:00:00",
            slotDuration: "00:30:00",
            dayClick: function (date, jsEvent, view) {
                if (view.name == 'month' || view.name == 'agendaWeek') {
                    $('#calendario').fullCalendar('changeView', 'agendaDay');
                    $('#calendario').fullCalendar('gotoDate', date);
                }
            },
            eventSources: [{
                url: '/ConsultasMedico/Consultas',
                type: 'GET',
                error: function () {
                    alert('Ocorreu algum erro ao listar a agenda!');
                }
            }],
            eventClick: function (event) {
                $('#data-consulta').val(event.start.format('DD/MM/YYYY HH:mm'));
                $('#data-marcacao').val(event.marcacao);
                $('#paciente').val(event.title);
                $('#observacoes').val(event.observacoes);
                $('#modal-consulta').modal('show');
            }
        });

    </script>

}
